@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import "tailwindcss";
@import './index.css';
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    font-family: 'Helvetica', sans-serif;
  }

  .typewriter {
    border-right: 0.1em solid white;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  

  